<!doctype html>
<html lang="ja">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <link rel="stylesheet" href="css/stylesheet.css">
  <link rel="stylesheet" href="css/media.css">
  <title>template</title>

</head>

<body>
  <!-- <body> -->
    <div id="top"></div>
  <header>
    <!-- Fixed navbar -->
    <nav class="nav-bar">
      <ul id="menu">
        <!-- <li class="hamburger"><a href="#menu"><i class="fa fa-bars"></i></a></li> -->
        <li class="btn-trigger"><span></span><span></span><span></span></li>
        <li class="nav-item"><a href="#">Home</a></li>
        <li class="nav-item"><a href="#about">About</a></li>
        <li class="nav-item"><a href="#faq">faq</a></li>
        <li class="nav-item"><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <!-- Begin page content -->
  <div class="top top-bg"　>
    <div class="top-txt">
      <h1>responsive test</h1>
    </div>
  </div>
<div class="about-warpper about-bg">
  <div class="container">
    <div class="heading">
      <h2>ABOUT</h2>
    </div>
    <div class="about">
      <div class="about-item"><h3>誠実</h3><p>何よりも誠実なこと、お客様にとって一番信頼できる関係を築くこと</p></div>
      <div class="about-item"><h3>本気</h3><p>いつでも本気で取り組み、成果を出すこと</p></div>
      <div class="about-item"><h3>正直</h3><p>自分に正直に、お客様に正直に、そして社会に正直であること</p></div>
      <div class="about-item"><h3>感謝</h3><p>今あることに感謝し、あらゆることに敬意を持って接すること</p></div>
    </div>
  </div>
</div>
  <div class="faq-warpper" id="faq">
    <div class="container">
      <div class="heading">
        <h2>FAQ</h2>
      </div>
      <div class="faq">
        <ul id="faq-list">
          <li class="faq-list-item">
            <h3 class="question">Why?</h3>
            <span>+</span>
            <div class="answer">
              <p>Because I want to be a free Web desiner.</p>
            </div>
          </li>
          <li class="faq-list-item">
            <h3 class="question">How?</h3>
            <span>+</span>
            <div class="answer">
              <p>At first I will study by myself, then I will go to school.</p>
            </div>
          </li>
          <li class="faq-list-item">
            <h3 class="question">Where?</h3>
            <span>+</span>
            <div class="answer">
              <p>At home.</p>
            </div>
          </li>
          <li class="faq-list-item">
            <h3 class="question">With who?</h3>
            <span>+</span>
            <div class="answer">
              <p>Alone.</p>
            </div>
          </li>
          <li class="faq-list-item">
            <h3 class="question">When?</h3>
            <span>+</span>
            <div class="answer">
              <p>Immediately</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <div class="contact contact-bg">
    <div class="container">
      <form class="contact-form" action="index.html" method="post">

      </form>
    </div>
  </div>
  <footer class="">
    <div class="container">


      <!-- <span class="text-muted">Place sticky footer content here.</span> -->
      <span>Copyright © 2020 K Takeda Fujii All rights reserved.</span>
    </div>
  </footer>
  <div class="pagetop"><a href="#top"></a></div>



  <script src="js/base.js">  </script>
</body>

</html>
