<!doctype html>
<html lang="ja">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="css/stylesheet.css">

  <title>template</title>

</head>

<body >
  <!-- <body> -->

  <a id="skippy" class="sr-only sr-only-focusable" href="#content">
    <div class="container">
      <span class="skiplink-text">Skip to main content</span>
    </div>
  </a>

  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark mb-4">
      <!-- <a class="navbar-brand" href="#">Fixed navbar</a> -->
      <a class="navbar-brand" href="#">navbar-brand</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
            <a class="nav-link" href="#">aaaa</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" href="#">Link</a> -->
            <a class="nav-link" href="#">bbbb</a>
          </li>
          <li class="nav-item">

            <a class="nav-link" href="#">cccc</a>
          </li>
          <li class="nav-item">

            <a class="nav-link" href="#">dddd</a>
          </li>
          <li class="nav-item">

            <a class="nav-link" href="#">eeee</a>
          </li>
          <li class="nav-item">

            <a class="nav-link" href="#">ffff</a>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-light">gggg</button>
          </li>

        </ul>

      </div>
    </nav>
  </header>

  <!-- Begin page content -->
  <main role="main" >


  </main>

  <footer class="footer mt-auto py-3 text-center bg-secondary text-light">
    <!-- <span class="text-muted">Place sticky footer content here.</span> -->
    <span>Copyright © 2020 ###brand_name### All rights reserved.</span>

  </footer>


  <script src="js/base.js"></script>
</body>

</html>
