* {
  box-sizing: border-box;
  /*要素の幅 = width*/
}
body{
  // // background:linear-gradient(70deg,rgba(255,255,0,0.4),rgba(0,191,255,0.4)),url(../img/kingyo-bg.jpg) no-repeat ;
  // background:linear-gradient(70deg,rgba(255,255,0,0.4),rgba(0,191,255,0.4)),url(../img/kingyo-bg.jpg) no-repeat ;
  // // height: 0;
  // // height: 600px;
  // // padding-top: 77%;
  // padding-top: 0;
  // // background-size: cover;
  // // background-repeat: no-repeat;
  // width: 100vw;
  // height: 100vh;
  // /* max-width: 1040px; */
  // /* max-height: 736px; */
  // background-attachment: fixed;
}

header{
  position: fixed;
  width: 100%;
  height: 45px;
  top:0px;
  left:0p;
  z-index: 999;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 3rem 0 3rem 0;
  margin: 0 auto;
  text-align: center;
}

.nav-bar{
  // position: absolute;
  top:0;
  z-index: 0;
}
.heading{
  color: #5f5d60;
}

@mixin box{
  display: inline-block;
  transition: all .5s;
  box-sizing: border-box;
}

nav {
  // position: absolute;
  // right: 0;
  // position: relative;
  background-color: #B3DDD1;
  color: white;

    ul {
      // position: absolute;
      top:0px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    /*先頭*/
    align-items: flex-end;
    /*後尾*/
    align-items: center;
    /*中央*/
    margin: 0;
    padding: 6px;

    list-style-type: none;
    }

    .btn-trigger {
      position: relative;
      // width: 50px;
      // height: 44px;
      width: 40px;
      height: 34px;
      cursor: pointer;
      align-self: flex-end;
      @include box;

      span {
        position: absolute;
        left: 0;
        width: 70%; //28px
        height: 4px;
        background-color: #fff;
        border-radius: 4px;
        @include box;
        
        &:nth-of-type(1){
          top: 5px;
        }
        &:nth-of-type(2){
          top: 15px;
        }
        &:nth-of-type(3){
          bottom: 5px;
        }
      }
      
    }
    .active{
      span{
        &:nth-of-type(1){
            transform: translateY(10px) rotate(-45deg);
        }
        &:nth-of-type(2){
            opacity: 0;
        }
        &:nth-of-type(3){
            transform: translateY(-10px) rotate(45deg);
        }
      }
    }


    .hamburger {
      align-self: flex-end;
    }

    a {
      display: block;
      border-radius: 4px;
      padding: 12px 24px;
      color: white;
      text-decoration: none;
    }

    li a:hover {
      background-color: #80BEAF;
    }

    li:last-child{
      padding-bottom: 40px;
    }
}

// #menu{
//   display: none;
// }
.nav-item{
  display: none;
}

.top{
 position: relative;
 text-align: center;
 z-index: 1;
}
.top-bg{
  // position: absolute;
  /* background-image: url(../img/kngyo-sp-bg.jpg); */
      background:linear-gradient(70deg,rgba(255,255,0,0.4),rgba(0,191,255,0.4)),url(../img/kingyo-bg.jpg) no-repeat ;
  height: 0;
  padding-top: 77%;
  // background-size: cover;
  // background-repeat: no-repeat;
  width: 100%;
  /* max-width: 1040px; */
  /* max-height: 736px; */
  background-attachment: fixed;
  
  
}
body{
  background:linear-gradient(70deg,rgba(255,255,0,0.4),rgba(0,191,255,0.4)),url(../img/kingyo-bg.jpg) no-repeat ;
  height: 578px;
  // background-size: cover;
  // background-repeat: no-repeat;
  width: 100%;
  /* max-width: 1040px; */
  /* max-height: 736px; */
  background-attachment: fixed;
}

.top-txt{
  position: absolute;
  top: 50%;
  transform: translateY( -50%);
  right: 0;
  /* bottom: 0; */
  left: 0;
  margin: auto;
  z-index: 2;
}
.faq{
  padding: 3rem;
}
.faq ul{
  list-style: none;
}
.faq-warpper{
  text-align: center;
  background-color: #D1DCE2;
  color: #5f5d60;
}
.faq-list-item {
  position: relative;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    padding: 1rem ;
    margin: 0rem 4rem;
}
.faq-list-item span{
  position: absolute;
  top: 1rem;
  right:  50px;
  cursor: pointer;
}
.answer{
display: none;
}

.pagetop{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  background: #80BEAF;
  opacity: 0.6;
  border-radius: 50%;
}
.pagetop a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
  text-align: center;
}
.pagetop a::before{
  font-family: "Font Awesome 5 Free";
  content: '\f106';
  font-weight: 900;
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 10px;
  bottom: 10px;
  right: 0;
  left: 0;
  margin: auto;
}

.about-bg{
  // background-color: #D1DCE2;
  background:rgba(235, 255, 240, 0.6);
}

.about{
  display: flex;
  justify-content: center;
  flex-flow: row;
  flex-wrap: wrap;
}

.about-item{
  width: 100%;
  position: relative;
  // padding: 2rem;
  border: 4px solid #EE9C6A;
  border-radius: 15px;
  margin: 1rem;

  $items:"1.","2.","3.";

  &:before{
    content: nth($items,1);
    display: block;
    position: absolute;
    top: -10px;
    left:50%;
  }

  h3{
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX( -50%);
    background-color: #fff;
    padding: 0 10px;
  }

  p{
    padding: 2rem 1rem;
  }
}